.users-box {
  display: flex;
}

.control {
  display: flex;
  flex-direction: column;
}

.users-box table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  
}

td {
  padding: 10px;
  border: 1px solid #000;
}